<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.itime" 
	   versionCode= "1"
       version = "2.1.0">
		
    versionCode= "16"
       version = "2.0.0">
		
    <name>African Alliance</name>

    <description>
	African Alliance Conferences
    </description>

    <author href="http:creativeyr.co.ke" email="d.mburu@creative.co.ke">
        Dan Mburu
    </author>
    
    <access origin="*" />
	
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
   </feature>
   <preference name="phonegap-version" value="3.7.0" /> 
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
	<gap:splash src="splash.png" />

	

</widget>
